<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Olvide mi contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="form">
    <form [formGroup]="loginForm">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <div *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
            {{ validation.message }}
          </div>
        </div>
      </div>
      <ion-button expand="block" (click)="login()" color="secondary">Reestablecer</ion-button>
    </form>
  </ion-list>
</ion-content>