.contenedor {
    height: 50%;
    text-align: center;
    padding-top: 30px;
}

.square {
    border: 2px solid gray;
    border-radius: 5px;
    width: 150px;
    margin: 0px auto;
    font-size: 80px;
    background-color: whitesmoke;
}
h6 {
    display: block;
    font-size: 0.3em;
    font-weight: bold;
  }