<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contratos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <div [routerLink]="['transito']" class="square">
      <i class="fa fa-calendar-minus-o"></i>
      <h6>Pendientes</h6>
    </div>
  </div>
  <div class="contenedor">
    <div [routerLink]="['finalizado']" class="square">
      <i class="fa fa-calendar-check-o"></i>
      <h6>Finalizados</h6>
    </div>
  </div>
  <!--<ion-list>
    <ion-item [routerLink]="['transito']">
      En tránsito
    </ion-item>
    <ion-item [routerLink]="['finalizado']">
      Finalizado/Rechazado
    </ion-item>
  </ion-list>-->
</ion-content>